<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error...</title>
</head>

<body>
    <p>@ViewBag.Message</p>
</body>
<div>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Back to Sign in</a>

</div>
</html>